p
{
    font-size: 50px;
    font-style: italic;
}

/* we use # for id*/
#box{ 
    width: 100px;
    height:100px;
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    position: relative;
    /* float: left;*/
}

/* if class use . */
.box{ 
    width: 100px;
    height:100px;
    background-color:aqua;
}
